<div class="container" style="margin-top: 70px;">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Pays</th>
          <th>Logement</th>
          <th>Prix (1 Nuit)</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of panier | async">
  
          <td>{{ item.pays }}</td>
          <td> {{ item.titre }}</td>
          <td><span class="badge badge-info">{{ item.prix }}€</span></td>
          <td>
            <button type="button" class="btn btn-primary btn-sm" (click)="supprimerDuPanier(item)">Supprimer</button>
        </td>
        </tr>
      </tbody>
    </table>
  </div>